extends loggedLayout

block content
    .row
        .col-xs-12
            h1= title
            p Your friends
            .row
            each user in users
                .follow-user.well
                    .avatar
                        a.pull-left.thumbnail
                            img.media-object.profile-thumbnail(src="/img/no-avatar.png")
                   
                    p.friend-name #{user.username}
                    
                    if(isAddFriendsView)
                        form(role="form", action="/followUser", method="POST")
                            .form-group
                                input.form-control(type="hidden", value="#{user._id}", name="follow_id")
                                button.btn.btn-primary.btn-sm(type="submit") Follow!
                    if(isFollowingView)
                        form(role="form", action="/unfollowUser", method="POST")
                            .form-group
                                input.form-control(type="hidden", value="#{user._id}", name="unfollow_id")
                                button.btn.btn-danger.btn-sm(type="submit") Unfollow      
            .clearfix
            if(isFollowingView)
                a.btn.btn-primary.btn-lg(href="/follow-friends", role="button") Add friends                           

