extends layout

block content
    h1 = title    
    p Please register
        .row
            .col-md-12
                form.well.span6(role="form", action="/login", method="POST")
                    div.form-group
                        label(for="userName") User Name
                        input#userName.form-control(type="text", name="username", placeholder="User name")
                        label(for="password") Password
                        input#password.form-control(type="password", name="password", placeholder="Enter password") 

                    button.btn.btn-default(type="submit") Submit           
                    hr
                    .row.btm-links
                        .col-md-6
                            a(href='/signup') Create an account
                        .col-md-6.logfacebook
                            a(href='/auth/facebook')                            
                                p
                                    i.fa.fa-facebook
                                    |  Log in with facebook