extends loggedLayout

block content
    .row
        .col-xs-12
            h1 #{movies.username}          
                if (tag)                
                    span.label.label-info.tag-title.tag
                        i.fa.fa-tag 
                        | #{tag}
            form(role="form", action="/movieSearch", method="GET")
                div.form-group
                    label(for="searchBox") What are you watching?
                    input#searchBox.form-control(type="text", name="movieName", placeholder="Type a movie or tv show")
            h2 Unwatched movies
            each movie in movies.moviesUnwatched
                include partials/_movie
            h2 Watched movies
            each movie in movies.moviesWatched
                include partials/_movie
