extends loggedLayout

block content
    .row
        .col-xs-12
            h1= title
            form(role="form", action="/movieSearch", method="GET")
                div.form-group
                    label(for="searchBox") What are you watching?
                    input#searchBox.form-control(type="text", name="movieName", placeholder="Type a movie or tv show")
            each movie in movies
                include _movie

