extends layout

block content
    h1 = title
    p Please register
        form.well.span6(role="form", action="/signup", method="POST")
            div.form-group
                label(for="userName") User Name
                input#userName.form-control(type="text", name="user", placeholder="User name")
                label(for="userEmail") Email address
                input#userEmail.form-control(type="email", name="email", placeholder="Enter email")
                label(for="password") Password
                input#password.form-control(type="password", name="password", placeholder="Enter password")
            button.btn.btn-default(type="submit") Submit