body
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
a
  color: #00B7FF;

.movie-thumbnail
	width: 61px;
	height: 91px;

.btm-links
	padding-bottom: 20px;

#navigation{
	.user-control {
		margin-right: 15px;
	}
}

.movie{
	.add-watched-control {
		margin-right: 10px;
	}
	.movie-tags {
		margin-bottom: 20px;
	}
}

.tag {
	margin-right: 10px;
	> i:after {
		content: "\00a0"
	}
}